# Visual Studio
.vs/
*.vcxproj.user

# Builds
Binaries/
Builds/**/*.tlog/
Builds/**/*.obj
Builds/**/*.pdb
Builds/**/*.ilk
Builds/**/*.recipe
Builds/**/*.lastbuildstate
Builds/**/*.FileListAbsolute.txt
Builds/**/*.res
Builds/**/*.lib
Builds/**/*.exp
Builds/**/*.exe
Builds/**/*.dll
Builds/**/*.vst3

# JUCE
# JuceLibraryCode será versionado


# Debug / Release
*.exe
*.dll
*.lib
*.obj
*.pdb
*.ilk

# Sistema
.DS_Store
Thumbs.db